In [89]:
import pandas as pd

from sklearn.feature_extraction.text import CountVectorizer

# importing random forest classifier
from sklearn.ensemble import RandomForestClassifier

# Spliting arrays or matrices into random train and test subsets
from sklearn.model_selection import train_test_split

# metrics are used to find accuracy or error
from sklearn import metrics

In [90]:
df_jobs = pd.read_excel('./job_titles.xlsx', sheet_name='jobs', index_col='job_title')

df_jobs.head()

                                functional_group_code  management_level_code
job_title
Director IT                                         2                      0
Graphic Designer                                    3                      1
Manager Bus Systems/Operations                      1                      2
Manager IT                                          2                      2
Product Specialist                                  3                      1

In [91]:
df_functions = pd.read_excel('./job_titles.xlsx', sheet_name='functional_groups', index_col='functional_group_code')

df_functions.head()

                         functional_group
functional_group_code
0                            Architecture
1                      Business Analytics
2                             Engineering
3                                 Product
4                      Project Management

In [92]:
df_levels = pd.read_excel('./job_titles.xlsx', sheet_name='management_levels', index_col='management_level_code')

df_levels.head()

                      management_level
management_level_code
0                             Director
1                                   IC
2                              Manager
3                       VP (and above)

In [93]:
job_titles = list(df_jobs.index)

job_functions = list(df_jobs['functional_group_code'])

job_levels = list(df_jobs['management_level_code'])

In [94]:
# create train and test sets
X_train, X_test, y_train, y_test = train_test_split(job_titles, job_levels, random_state=42)

In [95]:
stop_list = ['sr', 'senior', 'staff', 'i', 'ii', 'iii', 'iv', 'v', 'vi', 'exempt']

In [96]:


# Create a Vectorizer Object
vectorizer = CountVectorizer(stop_words=stop_list, ngram_range=(1,1))
  
vectorizer.fit(X_train)
  
# # Printing the identified Unique words along with their indices
# print("Vocabulary: ", vectorizer.vocabulary_)
  
# Encode the train and test Documents
X_train_vector = vectorizer.transform(X_train)
X_test_vector = vectorizer.transform(X_test)
  
# # Summarizing the Encoded Texts
# print("Encoded Document is:")
# print(X_test_vector.toarray())

In [97]:
# creating a RF classifier
clf = RandomForestClassifier(random_state=42)

# Training the model on the training dataset
# fit function is used to train the model using the training sets as parameters
clf.fit(X_train_vector, y_train)

# performing predictions on the test dataset
y_pred = clf.predict(X_test_vector)

# using metrics module for accuracy calculation
print("ACCURACY OF THE MODEL: ", metrics.accuracy_score(y_test, y_pred))

ACCURACY OF THE MODEL:  0.9668965517241379

In [98]:
df_results = pd.DataFrame({'job': X_test, 'predicted': y_pred, 'actual': y_test})

In [99]:
#df_results = df_results.merge(df_levels, how='left', left_on='predicted', right_index=True)

df_results.head()

                                                 job  predicted  actual
0        Business Development Specialist, Consultant          1       1
1                            Systems Engineer, Staff          1       1
2                     VP, Operations, Open Solutions          3       3
3  PM Implementation Project Management III (Non-...          1       1
4                         Project Manager, Team Lead          1       2